* {
  text-decoration: none;
  outline: none;
  padding: 0px;
  margin: 0px;
}

.clear {
  clear: both;
}



$Bold: 'effrabold';

$Heavy: 'effra_heavyregular';

$Light: 'effra_lightregular';

$Medium: 'effra_mediumregular';

$Regular: 'effraregular';


.wrapper {
  max-width: 1170px;
  width: 96%;
  box-sizing: border-box;
  margin: 0 auto;
}