* {
  text-decoration: none;
  outline: none;
  padding: 0px;
  margin: 0px;
}

.clear {
  clear: both;
}



$Bold: 'effrabold';

$Heavy: 'effra_heavyregular';

$Light: 'effra_lightregular';

$Medium: 'effra_mediumregular';

$Regular: 'effraregular';


.wrapper {
  max-width: 1170px;
  width: 96%;
  box-sizing: border-box;
  margin: 0 auto;
}

section{
  &.gift{
    padding: 85px 0px;
    text-align: center;

    .box{
      width: 100%;
    }
    .line{
      position: relative;
      height: 26px;
      &:before{
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        height: 26px;
        background-color: #a8004e;
        max-width: 353px;
        width: 30.2%;
      }

      &:after{
        content: '';
        position: absolute;
        top: 0px;
        right: 0px;
        height: 26px;
        background-color: #102d3c;
        max-width: 817px;
        width: 69.8%;
      }

      .dash{
        position: absolute;
        height: 100%;
        width: 3px;
        -ms-transform: rotate(-5deg); /* IE 9 */
        -webkit-transform: rotate(-5deg); /* Safari */
        transform: rotate(-5deg);
        background-color: #ffffff;
        left: 30%;
        z-index: 1;

      }
    }

    .content{
      border-left: 3px solid #bbbbbb;
      border-right: 3px solid #bbbbbb;
      border-bottom: 3px solid #bbbbbb;

      padding: 50px 0px 67px 0px;

      .box-wrap{
        max-width: 757px;
        margin: 0 auto;
        text-align: center;

        img{
          margin-bottom: 40px;
        }

        .title{
          font-family: $Regular;
          font-size: 45px;
          margin-bottom: 52px;
        }

        .text{
          font-family: $Light;
          font-size: 30px;
          line-height: 45px;
          margin-bottom: 56px;

          span{
            font-family: $Regular;

            &:nth-child(2){
              color: #a60046;
            }
          }
        }

        a{
          font-family: $Regular;
          font-size: 30px;
          color: #a60046;
          position: relative;
          display: inline-block;

          &:before{
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #e9bfd1;
            left: 0px;
            bottom: 2px;
            z-index: -1;
          }
        }
      }
    }
  }
  &.idea-earn {
    .item {
      float: left;
      width: 50%;
      box-sizing: border-box;
      padding: 80px 0px 90px;
      text-align: center;
      color: #fff;
      img {
        display: block;
        height: auto;
        width: 100%;
        margin: 0 auto;
      }
      .title {
        font-family: $Regular;
        font-size: 30px;
        text-transform: uppercase;
        margin: 22px 0px 45px;
      }
      .text {
        font-size: 24px;
        line-height: 36px;
        font-family: $Light;
        max-width: 530px;
        margin: 0 auto 65px;
      }
      a {
        display: inline-block;
        font-famil: $Regular;
        color: #fff;
        font-size: 24px;
        text-transform: uppercase;
        max-width: 235px;
        text-align: center;
        line-height: 58px;
        border-radius: 7px;
        height: 58px;
        text-align: center;
        width: 100%;
      }
      &:nth-child(1) {
        background-color: #a60046;
        img {
          max-width: 54px;
        }
        a {
          background: #2e5569;
          background: -moz-linear-gradient(top, #2e5569 0%, #173747 100%);
          background: -webkit-linear-gradient(top, #2e5569 0%,#173747 100%);
          background: linear-gradient(to bottom, #2e5569 0%,#173747 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e5569', endColorstr='#173747',GradientType=0 );
        }
      }
      &:nth-child(2) {
        background-color: #102d3c;
        .title {
          margin-top: 33px;
        }
        img {
          max-width: 102px;
        }
        a {
          background: #ae004d;
          background: -moz-linear-gradient(top, #ae004d 0%, #a3002b 100%);
          background: -webkit-linear-gradient(top, #ae004d 0%,#a3002b 100%);
          background: linear-gradient(to bottom, #ae004d 0%,#a3002b 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ae004d', endColorstr='#a3002b',GradientType=0 );
        }
      }
    }
  }
}