.tax-blog_category {
  .blog-category-menu {
    background-image: url("../images/blog-category-menu-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    ul {
      &:after, &:before {
        display: table;
        clear: both;
        content: '';
      }
      li {
        display: inline-block;
        float: left;
        max-width: 352px;
        width: 25%;
        a {
          display: block;
          position: relative;
          max-height: 361.25px;
          &:after {
            content: '';
            position: absolute;
            height: 100%;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.6);
            top: 0px;
            left: 0px;
          }
          img {
            display: block;
            width: 100%;
            height: auto;
            padding: 0px !important;
          }
          span {
            position: absolute;
            bottom: 0px;
            z-index: 2;
            bottom: 25px;
            background-color: rgba(166, 0, 70, 0.85);
            max-width: 243px;
            width: 100%;
            line-height: 60px;
            color: #fff;
            font-size: 26px;
            font-family: $Regular;
            &:after {
              background-image: url("../images/arrow-icon.png");
              position: absolute;
              right: 12px;
              top: 0px;
              margin: auto;
              bottom: 0px;
              color: #fff;
              width: 12px;
              height: 19px;
              content: '';
              background-size: contain;
              background-repeat: no-repeat;
            }
          }
        }
        &.current-menu-item {
          a {
            &:after {
              display: none;
            }
          }
        }
      }
    }
  }
  section {
    &.blog-posts {
      background-image: url("../images/blog-post-bg.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      padding: 55px 0 85px;
      .blog-item {
        max-width: 370px;
        width: 30%;
        display: inline-block;
        background-color: #fff;
        border-radius: 5px;
        margin-bottom: 40px;
        &.center {
          margin: 0px 54px 40px;
        }
        a {
          img {
            display: block;
            width: 100%;
            height: auto;
          }
          .box {
            padding: 32px;
            box-sizing: border-box;
            .title {
              color: #0f2d3c;
              font-weight: $Light;
              font-size: 24px;
            }
            .date {
              color: #0f2d3c;
              font-weight: $Light;
              font-size: 16px;
              margin: 5px 0px 30px;
            }
            .short-description {
              color: #0f2d3c;
              font-weight: $Light;
              font-size: 16px;
              line-height: 24px;
              margin-bottom: 15px;
            }
            .read-more {
              color: #a60046;
              font-weight: $Bold;
              font-size: 18px;
              float: right;
              text-transform: uppercase;
            }
          }
        }
      }
      #load_more_blog {
        border:0px;
        margin:  0 auto;
        background: #ae004d;
        background: -moz-linear-gradient(left, #ae004d 0%, #a3002b 100%);
        background: -webkit-linear-gradient(left, #ae004d 0%,#a3002b 100%);
        background: linear-gradient(to right, #ae004d 0%,#a3002b 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ae004d', endColorstr='#a3002b',GradientType=1 );
        display: block;
        line-height: 70px;
        max-width: 290px;
        width: 100%;
        text-align: center;
        border-radius: 5px;
        text-transform: uppercase;
        font:$Regular;
        font-size: 25px;
        color: #ffffff;
      }
    }
  }
}


.single-blog {
  .main-container {
    max-width: 1140px;
    width: 90%;
    margin:  0 auto;
    padding: 70px 0px;
    .left {
      max-width: 850px;
      width: 75%;
      float: left;
      box-sizing: border-box;
      .image-section {
        img {
          display: block;
          height: auto;
          width: 100%;
        }
      }
      .title {
        color:#102d3c;
        font-family: $Regular;
        margin: 12px 0px;
        font-size: 32px;
      }
      .date {
        color:#102d3c;
        font-family: $Regular;
        font-size: 20px;
        img {
          display: inline-block;
          vertical-align: middle;
          width: 16px;
          height: auto;
        }
        span {
          display: inline-block;
          vertical-align: middle;
          margin-left: 14px;
        }
      }
      .line {
        width: 100%;
        height: 1px;
        background-color: #e5e5e5;
        margin-bottom: 30px;
        line-height: 22px;
      }
      .content {
        margin-top: 22px;
        font-family: $Light;
        font-size: 18px;
        display: block;
        color: #102d3c;
      }
    }
    .right {
      max-width: 265px;
      float: right;
      width: 24%;
      box-sizing: border-box;
      .title {
        ont-family: $Regular;
        font-size: 22px;
        margin-bottom: 30px;
        padding-bottom: 20px;
        border-bottom: 1px solid #e5e5e5;
      }
      a {
        display: block;
        position: relative;
        padding-left: 20px;
        font-family: $Regular;
        font-size: 16px;
        margin-bottom: 20px;
        color: #102d3c;
        &:after {
          content: '';
          width: 5px;
          height: 5px;
          background-color: #a60046;
          position: absolute;
          left:0px;
          border-radius: 50%;
          top:8px;
        }
      }
    }
  }
}


@media screen and(max-width: 1366px){
  .tax-blog_category {
    section{
      &.blog-posts {
        .blog-item {
          &.center {
            margin: 0px 4% 40px;
          }
        }
      }
    }
  }
}


@media screen and(max-width: 860px){
  .tax-blog_category {
    section{
      &.blog-posts {
        .blog-item {
          margin: 0px auto 20px;
          width: 100%;
          display: block;
          &.center {
            margin: 0px auto 20px;
          }
        }
      }
    }
    .blog-category-menu {
      background-image: none;
      .wrapper {
        width: 100%;
      }
      ul {
        list-style: none;
        li {
          display: block;
          float: none;
          max-width: inherit;
          width: 100%;
          a {
            img {
              display: none;
            }
            span {
              padding: 0px 20px;
              position: initial;
              box-sizing: border-box;
              max-width: inherit;
              width: 100%;
              display: block;
            }
          }
        }
      }
    }
  }
}


@media screen and(max-width: 980px){
  .single-blog {
    .main-container {
      .right {
        display: none;
      }
      .left {
        float: none;
        width: 100%;
        max-width: inherit;
      }
    }
  }
}