.home {
  section {
    &.top {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 860px;
      text-align: center;
      .table {
        display: table;
        height: 100%;
        width: 100%;
        .cell {
          display: table-cell;
          vertical-align: bottom;
          .box {
            max-width: 1000px;
            width: 100%;
            margin: 0 auto;
            .text {
              font-size: 30px;
              line-height: 42px;
              color: #fff;
              font-family: $Light;
              margin-bottom: 45px;
              text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
              span {
                display: block;
                font-family: $Regular;
              }
            }
            a {
              background: #ae004d;
              background: -moz-linear-gradient(left, #ae004d 0%, #a3002b 100%);
              background: -webkit-linear-gradient(left, #ae004d 0%,#a3002b 100%);
              background: linear-gradient(to right, #ae004d 0%,#a3002b 100%);
              filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ae004d', endColorstr='#a3002b',GradientType=1 );
              display: inline-block;
              line-height: 70px;
              max-width: 290px;
              width: 100%;
              text-align: center;
              border-radius: 5px;
              text-transform: uppercase;
              font:$Regular;
              font-size: 25px;
              color: #ffffff;
              margin-bottom: 75px;
            }
          }
        }
      }
    }

    &.product{
      text-align: center;
      padding: 70px 0 90px 0;

      .wrapper {
        max-width: 870px;

        .title{
          font-family: $Regular;
          font-size: 45px;
          margin-bottom: 52px;
        }

        .item{
          padding:0px 14px;

          .prod_img {
            border: #bbbbbb solid 4px;
            text-align: center;
            position: relative;
            padding: 10px 0 20px 0;

            &:after{
              background-image: url("../images/product_back.png");
              background-repeat: repeat-x;
              content: "";
              height: 58px;
              width: 100%;
              position: absolute;
              left: 0%;
              top: 79.2%;
            }

            img{
              margin: 0 auto;
              width:auto;
              height: 100%;
              max-height:250px;
            }
          }

          .product-title {
            font-family: $Regular;
            font-size: 18px;
            color: #000000;
            line-height: 24px;
          }

          .price{
            font-family: $Bold;
            font-size: 18px;
            color: #a60046;
          }
        }

        .owl-nav{
          position: relative;

          .owl-prev {
            position: absolute;
            top: -200px;
            left: -16px;
            .fa-angle-left {
              font-size: 58px;
              color: #bbbbbb;
            }
          }

          .owl-next {
            position: absolute;
            top: -200px;
            right: -16px;

            .fa-angle-right {
              font-size: 58px;
              color: #bbbbbb;
            }
          }
        }
      }

     }
  }
}